<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.aplikasipar33">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <activity android:name=".RegisterActivity" />
        <activity android:name=".Pedagang.EditProduk" />
        <!--<activity android:name=".Pedagang.TambahProduk" />-->
        <activity android:name=".Pedagang.DaftarProduk" />
        <activity android:name=".Pembeli.HalamanUtama" />
        <!-- <activity -->
         <!--android:name=".Pembeli.HalamanUtama"-->
        <!-- android:label="@string/title_activity_beranda" /> -->

         <!--<activity android:name=".Pedagang.KatSayur"></activity>-->

        <activity android:name=".Pembeli.KatRempahPem"/>
        <activity android:name=".Pembeli.KatLaukPem"/>
        <activity android:name=".Pembeli.katSembakoPem"/>
        <activity android:name=".Pembeli.KatSayurPem"/>
        <activity android:name=".Pembeli.KatBuahPem"/>
        <activity android:name=".Pembeli.katBumbuPem"/>



    </application>

</manifest>